--extra-index-url https://download.pytorch.org/whl/cu121

opencv-python
opencv-contrib-python
numpy
matplotlib
pandas
scikit-learn
scikit-image
albumentations
tensorflow
tensorboard
tqdm
pyyaml
onnx
onnxruntime
gcsfs
google-cloud-storage
roboflow

torch
torchvision
torchaudio
